.main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.form, .reg-2-type-selection{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 700px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.reg-2-type-selection {
  display: flex;
  height: 200px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.invisible{
  display: none;
}
.selection{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f5f3f0;
  background-color: #fff;
  height: 50%;
  width: 40%;
  box-shadow: 0 0 40px rgba(0,0,0,.1);
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
.first-input-row .first-row-1{
    width: 15%;
  }
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #f2123b;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
.form .message a {
    color: #f2123b;
    text-decoration: none;
  }
input:invalid:placeholder-shown{
    border-color: rgb(240, 240, 240);
}
input:invalid{
  border: 1px solid red;
}
.first-input-row, .second-input-row{
  display: flex;
  gap: 0.5rem;
}

.remember {
  display: flex;
  margin: 0 0 15px;
}
#remember {
  width: 40px;
  height: 1rem;
  margin: 0;
}
#submit{
  background-color: #f2123b;
}

